@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body{
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	background-color:#141414;
	font-size:22px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height:5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.btn-theme{
	background-color:#706EFF;
	border-color:#706EFF;
}
.btn-theme-pink{
	background-color:#FB71FC;
	border-color:#FB71FC;
}
.btn-theme-green{
	background-color:#32FE5F;
	border-color:#32FE5F;
}
.app-menu{
	background:#141414;
	box-shadow:none;
}
.scrollbar .simplebar-content{
	height:100%;
}
.scrollbar .simplebar-content .menu{
	height:100%;
}
.menu .menu-item .menu-link.short-link{
	background-color:#FB71FC;
	
}
.menu .menu-item .menu-link{
	border-radius:30px;
	padding:15px 20px;
}
.menu .menu-item .menu-link>.menu-text{
	font-size:22px;
	color:#ffffff;
}
.menu .menu-item.menuitem-active>.menu-link{
	color:#ffffff;
	background:#6658dd;
}
.navbar-custom{
	background:#141414;
	box-shadow:none;
}
.content{
	padding:0 15px !important;
}
.profile-content {
    position: absolute;
    background: #eef6ff;
    border-radius: 30px;
    padding: 15px;
    top: 6%;
    left: 42.5%;
    right: 33.5%;
    bottom: 12%;
	overflow-y:auto;
}
.profile-content img{
	width:50px;
}
.profile-content h6{
	color:#2f2f2f;
	font-size:16px;
	font-family: "Space Grotesk", sans-serif;
}
.profile-content p{
	color:#2f2f2f;
	font-size:11px;
	}
.join-content{
	background:#32FE5F;
	padding:1rem;
	text-align:center;
	color:#fff;
	border-radius:100px;
}
.join-content h2{font-size:3rem}

.desktop-box,.mobile-box{position:relative;}
.desktop-content {
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    bottom: 15%;
	padding:25px;
	overflow:auto;
	background-size:cover;
	background-repeat:no-repeat;
	border-radius:5px;
}
.desktop-content h3{color:#777;}
.desktop-content p{
	display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
	color:#777;
}
.mobile-content {
    position: absolute;
    top: 8%;
    left: 20%;
    right: 20%;
    bottom: 7%;
    padding: 10px;
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
	border-radius:5px;
}
.mobile-content h3{color:#777;}
.mobile-content p{
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
	color:#777;
}
.watermark-box{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(255,255,255,0.8);
	display: flex;
    align-items: center;
    justify-content: center;
	cursor:not-allowed;
}
.url-form input{
	padding:1.2rem 0.9rem;
	background-color:#FB71FC;
	color:#fff;
}
.url-form input::placeholder{
	color:#fff;
}
.readonlyField{
	background-color:#32FE5F;
	background-image:url(../images/oase/aestrik.png);
	background-position:center right;
	background-repeat:no-repeat;
	background-size:contain;
	padding:1.2rem 2rem 1.2rem 1rem;
	color:#fff;
}
@media (max-width: 768px){
	.profile-content{
		border-radius:15px;
	}
	.profile-content img{
		width:25px;
	}
	.profile-content h6{
		font-size:11px;
	}
	.profile-content p{
		font-size:8px;
	}
}
@media (max-width:600px){
	.mobile-content {
		top: 5%;
		left: 20%;
		right: 20%;
		bottom: 5%;
	}
}
@media (max-width:500px){
	.mobile-content {
		top: 5%;
		left: 8%;
		right: 8%;
		bottom: 5%;
	}
}

@media (min-width: 767px){
	.mobile-content {
		top: 5%;
		left: 16%;
		right: 16%;
		bottom: 5%;
	}
}
@media (min-width: 1200px){
	.mobile-content {
		top: 5%;
		left: 20%;
		right: 20%;
		bottom: 5%;
	}
}
@media (min-width: 1600px){
	.desktop-content {
		top: 10%;
		left: 15%;
		right: 15%;
		bottom: 15%;
	}
	.mobile-content {
		top: 5%;
		left: 23%;
		right: 23%;
		bottom: 5%;
	}
}